@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
header
 {
    text-align: center;
    font-size: 4rem;
    font-family: 'lobster';
    color: #f5f4f4;
    border: 40px solid #6b68b5;
}
h1
 {
    text-align: center;
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #f5f4f4;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #f5f4f4;
    background-color: #6b68b5;
}
main, footer{
    font-family: Arial, Helvetica, sans-serif;
    color: #f5f4f4;
    background-color: #340788;
    border-radius: 15px;
    border: 5px solid #6b68b5;
    margin: 0 auto;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
a:link{
    color: #7cabb5;
}
a:visited{
    color:  #f5f4f4;
}span{
    display: block;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}#menu
{
    display: flex;
    flex-flow: row wrap;
}
.food
{
    flex: 0 1 450px;
    text-align: center;
}
.food img{
    width: 50%;
}
.food.greek img
{
   width: 45%;
}
.food.entree img 
{
    width: 60%;
}
.food.rice img
{
    width: 35%;
}
  .fa {
    padding: 20px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  .fa:hover {
      opacity: .5;
  }
  .fa-facebook {
    background: #3B5998;
    color: #f5f4f4;
  }
  .fa-twitter {
    background: #55ACEE;
    color: #f5f4f4;
  }.fa-instagram {
    background: #125688;
    color: #f5f4f4;
  }
  .fa-pinterest {
    background: #cb2027;
    color: #f5f4f4;
  }
  h3{
      color: #f5f4f4;
      font-size: 25px;
  }
  .myButton, .helpButton{
    padding: 20px;
    display:block;
    background-color:#ae9a93;
    color: #f5f4f4;
    text-align:center;
    position: absolute;
    padding: 10px 20px;
    top: 10px;
    right: 10px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.helpButton
{
    top: 10px;
    right: 120px;
    background-color: #a50005; 
}
.addButton
{
    padding: 10px;
    display:block;
    background-color:#ae9a93;
    color: #f5f4f4;
    text-align:center;
    position:absolute;
    padding: 10px 10px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 35px;
}
.info{
    margin: 1em;
    }

  input[type=text]:focus, input[type=password]:focus 
  {
    background-color: #ddd;
    outline: none;
  }
  .registerbtn {
    background-color: #ae9a93;
    color: white;
    padding: 5px 15px;
    margin: 2px 0;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.9;
  }
  .registerbtn:hover {
    opacity: 1;
  }
